body,
h1  {
    padding: 0;
    margin: 0;
    font-size: 4vw;    
    color: rgb(0, 0, 0);  
    text-align: center;     
}
h2  {
    padding: 0;
    margin: 0;
    font-size: 2vw;
    color: rgb(0, 0, 0);  
    text-align: center;   
}   
p,span  {
    padding: 0;
    margin: 0;
    font-size: 1rem;      
    font-style: italic;     
    color: rgb(80, 78, 78);  
    text-align: center;     
}
span {
  font-weight: bold;
  letter-spacing: 1.3px;
  padding-top: 10px;
}
.principal {
    width: 80%;
    margin: 0 auto;
    color: #fff;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto auto 150px;
    grid-template-areas:    "header header header " 
                            "secao secao lateral" 
                            "rodape rodape rodape";
}

header {
 grid-area: header;
 background-color: var(--global-color-header);
 display: flex;
 justify-content: space-around;
 padding: 0px;
 align-items: center;
}
header div {
    width: 100%;
}

aside {
  grid-area: lateral;
  background-color: #fff9ca;
}
footer {
  grid-area: rodape;
  display: flex;
  justify-content: space-evenly;
}
.parte1, .parte2, .parte3 {
  width: 25%;
}
.parte2 {
  width: 50%;
  margin: 0 2px;
}
.parte3 {
  margin: 0;
}

/*/////////////////
////////////////*/

.foto {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
}
#foto {
    height: 200px;
    border: 1px solid rgb(176, 176, 176);
    padding: 10px;
    margin-top: 15px;
}
#foto:hover {opacity: 0.95;}

.rede-social {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  padding: 5px 10px 0px 0px;
}
.rede-social img {
  width: 30px;
  cursor: pointer;
  margin-left: 8px;
}
.rede-social img:hover {opacity: 0.5;}

.experiencia {
    grid-area: secao;
    background-color: #fef1f8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px 8px 10px;
}
.experiencia div {
  width: 50%;
}

/********/
/*tablet*/
@media(max-width: 992px) {
  h1  {
      font-size: 2rem;
  }
  h2  {
  font-size: 2vw;   
  }
  .experiencia {
      flex-direction: column;
      justify-content: space-between;
  }
  .experiencia div {
    width: 100%;
  }
  .rede-social img {
    width: 22px;
  }
  .principal {
      grid-template-columns: 100%;
      grid-template-areas: "header" "secao" "lateral" "rodape";
  }
  footer {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
  }
  .parte1, .parte2, .parte3 {
      margin: 0;
      border: solid 1px #fff;
      width: 49%;
  }
  .parte2 {
      width: 100%;
      order: -1;
  }
}

/*********** /
/*smartphone*/
@media(max-width: 768px) {
  
  body {
        margin: 0 15px;  
    }
  h1 {
      font-size: 1.8rem;
  }
  h2 {
  font-size: 1.2rem; 
  }
  p {
    font-size: 1rem;
  }
  header {
  flex-direction: column;
  justify-content: center;
  }
  .experiencia {
      flex-direction: column;
      justify-content: space-between;
  }
  .principal, .parte1, .parte2, .parte3 .experiencia{
    width: 100%;
  }
  .parte2 {
    order: initial; 
  }
  .foto {
      margin-left: 0;
      margin-bottom: 5px;
      justify-content: center;
  }
  .rede-social {
    justify-content: center;
    align-self: center;
    padding: 0px;
  }
  .rede-social img {
    width: 22px;
    margin-left: 0px;
  }

}
