* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #353535;
}
h1 {
  font-weight: 600;
  font-style: italic;
  font-size: 4vw;
}
h2 {font-size: 2.6vw;}
h3 {font-size: 2vw;}
hr {
  width: 50%;
  color: #e8f0f2;
  font-weight: normal;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-image: linear-gradient(to right, rgb(193, 189, 189) , rgb(245, 245, 245));
}
header div {width: 50%;}

.linkOndeTrabalhei {
  font-size: 14px;
  font-weight: bold;
  margin-right: 16px;
  color: #1c1c1c;
}
.linkOndeTrabalhei:hover {
  color: purple;
}
.identification {
  width: 100%;
  padding: 35px 0;
  text-align: center;
}
.rede-social {
  display: flex;
  justify-content: flex-end;
}
.rede-social img {
  width: 20px;
  cursor: pointer;
  margin-left: 8px;
}
.rede-social img:hover {opacity: 0.5;}

main {
  width: 100%;
  height: 900px;
/*deixa as três sections com mesmo tamanho*/
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

/*configura a foto centralizada na sua section*/
.main-section-foto {
  display: block;
  text-align: center;
}
/*ajustes finos na foto*/
#foto {
  width: 80%;
  border-radius: 300px;
  border: 1px solid rgb(198, 197, 197);
  padding: 18px;
}
#foto:hover {opacity: 0.95;}

.container-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 90%; 
  width: 100%;
}
.side-left {
  padding-right: 25px;
}
.side-right {
  align-items: flex-end;
  text-align: right;
}
.dadosPessoais {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #222222;
}
.dadosPessoais span {
  padding-top: 10px;
  font-size: 1rem;
  color: #7c7a7a;
  margin-bottom: 18px;
}
.dadosPessoais p {
  text-align: justify;
  font-weight: 500;  
}

.container-companys h1 {
  font-size: 2rem;
}
.container-companys {
  text-align: center;
  width: 100%;
  height: 180px;
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container-companys div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
.container-companys img {
  height: 70px;
  width: auto;
}
.container-companys img:hover {
  transform: scale(1.08);
}
